@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* { 
    margin: 0; 
    border: 0; 
}

body { 
    font-family: 'Inter', sans-serif;
}
.main-container { 
    display: grid;
    grid-template-areas: "aside header"
                         "aside main";
    grid-template-columns: 10% 90%;
    
}
.header { 
    background: #2500FF;
    grid-area: header;
    height: 40vh;
}

.date { 
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 26px;
    margin-left: 153px;
    color: white;
}
.main { 
    background: #EDEDED;
    grid-area: main;
    display: flex;
    gap: 50px; 
}

.aside { 
    background: #FFFFFF;
    grid-area: aside;

}


.section1 { 
    background: #FFFFFF;
    width: 815px;
    height: 610px;
    margin-top: -150px; 
    margin-left: 50px;
    border-radius: 5px;
}

.section2 { 
    background: #FFFFFF;
    width: 264px;
    height: 610px;
    margin-top: -100px; 
    border-radius: 5px;
}