@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    position: relative; 
    border: none
}

html, body { 
    height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 0.96rem; 
    font-weight: 300;
}


.header { 
    border-bottom: 1px solid blue;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.menu-icon { 
    max-width: 100%;
    height: 30px;
    width: 30px;
}


.main-section h3 { 
    margin-top: 50px; 
    margin-left: 20px;
    font-size: 15px;
    color:#2500FF;
}