.section-propostas h2 {
  margin-left: 30px;
  margin-top: 50px;
}

.section-propostas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-proposta {
  display: flex;
  flex-direction: column;
  background: #EDEDED;
  gap: 10px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 0 40px 10px 40px; 
  border-radius: 5px;
}
